@import "tailwindcss";



@keyframes spin-slow {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.animate-spin-slow {
  animation: spin-slow 2s linear infinite;
}

/* for alert message */

@keyframes toastSlideIn {
  0% {
    opacity: 0;
    transform: translateX(40px) translateY(-10px);
  }
  100% {
    opacity: 1;
    transform: translateX(0) translateY(0);
  }
}

.animate-toastSlideIn {
  animation: toastSlideIn 0.35s ease-out forwards;
}

html, body {
  overflow-x: hidden !important;
}

* {
  box-sizing: border-box;
}


.page-fade {
  opacity: 0;
  animation: smoothFadeIn 0.9s ease forwards;
  will-change: opacity, transform;
}

@keyframes smoothFadeIn {
  0% {
    opacity: 0;
    transform: translateY(18px) scale(0.985);
  }
  60% {
    opacity: 0.7;
    transform: translateY(6px) scale(0.995);
  }
  100% {
    opacity: 1;
    transform: translateY(0px) scale(1);
  }
}


